<main class="main">
  <div class="content">
    <div class="flex flex-col p-10">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <div class="grid grid-cols-12 gap-4">
              <table
                class="min-w-full border border-neutral-200 text-center text-sm font-light text-surface dark:border-white/10 dark:text-white"
                [ngClass]="selectedProduct ? 'col-span-9' : 'col-span-12'"
              >
                <thead
                  class="border-b border-neutral-200 font-medium dark:border-white/10"
                >
                  <tr>
                    <th
                      scope="col"
                      class="border-e border-neutral-200 px-6 py-4 dark:border-white/10"
                    >
                      #
                    </th>
                    <th
                      scope="col"
                      class="border-e border-neutral-200 px-6 py-4 dark:border-white/10"
                    >
                      Name
                    </th>
                    <th
                      scope="col"
                      class="border-e border-neutral-200 px-6 py-4 dark:border-white/10"
                    >
                      Price
                    </th>
                    <th scope="col" class="px-6 py-4">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="border-b border-neutral-200 dark:border-white/10"
                    *ngFor="let product of products"
                  >
                    <td
                      class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 font-medium dark:border-white/10"
                    >
                      {{ product.id }}
                    </td>
                    <td
                      class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 dark:border-white/10"
                    >
                      {{ product.name }}
                    </td>
                    <td
                      class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 dark:border-white/10"
                    >
                      {{ product.price }}
                    </td>
                    <td class="whitespace-nowrap px-6 py-4">
                      <button
                        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded me-3"
                        (click)="onInfo(product)"
                      >
                        Info
                      </button>

                      <button
                        class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded me-3"
                      >
                        Edit
                      </button>
                      <button
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded me-3"
                        (click)="onDelete(product.id)"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="detail col-span-3">
                <app-product-detail
                  *ngIf="selectedProduct"
                  [product]="selectedProduct"
                  (onName)="onShowHandle($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded me-3"
      (click)="onAdd({
        id: 4,
        name: 'Product 4',
        price: 200,
      })"
    >
      Add
    </button>
  </div>
</main>
